{#
/**
 * @file
 * Template for orders in the 'user' view mode.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - order: The rendered order fields.
 *   Use 'order' to print them all, or print a subset such as
 *   'order.order_number'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ order|without('order_number') }}
 *   @endcode
 * - order_entity: The order entity.
 *
 * @ingroup themeable
 */
#}

<div{{ attributes.addClass('container','space-bottom') }}>
    <div class="row">    	
    	<div class="col-lg-8">
    		<div class="order-information">
                {{ order.completed }}
                {{ order.placed }}
                {{ order.state }}
                {{ order.order_items }}
                {{ order.total_price }}                
            </div>
    	</div>  
    	<div class="col-lg-4">
    	  <div class="customer-information">
            {{ order.mail }}
            {% if order.shipping_information %}
              <div class="customer-information__shipping mb-4">
                <div class="field__label h5 fw-bold mb-1">{{ 'Shipping information'|t }}</div>
                {{ order.shipping_information }}
              </div>
            {% endif %}
            {% if order.billing_information %}
              <div class="customer-billing mb-4">
                <div class="field__label h5 fw-bold mb-1">{{ 'Billing information'|t }}</div>
                {{ order.billing_information }}
              </div>
            {% endif %}
            {{ additional_order_fields.without('billing_profile') }}
          </div>
    	</div>
    </div>
</div>
