{#
/**
 * @file
 * Default template to format a HTML email using the Mime Mail module.
 *
 * Copy this file in your default theme folder to create a custom themed email.
 * If you modify this template you MUST be sure to keep the html, body, and
 * header tags. This template should produce a fully-formed HTML document.
 * Failure to include these will result in a malformed email and possibly
 * errors shown to the user when sending email.
 *
 * To override this template for all emails sent by a given module,
 * rename this template to mimemail-messages--[module].html.twig.
 *
 * To override this template for a specific email sent by a given module,
 * rename this template to mimemail-messages--[module]--[key].html.twig.
 *
 * Available variables:
 * - attributes: HTML attributes for the body element of the message.
 * - key: The message identifier.
 * - module: The machine name of the sending module.
 * - css: Internal style sheets.
 * - recipient: The recipient of the message.
 * - subject: The message subject.
 * - body: The message body.
 *
 * @see template_preprocess_mimemail_message()
 *
 * @ingroup themeable
 */
#}
{% set classes = module ? (key ? module ~ '-' ~ key) %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Mime Mail message template</title>
{% if css %}
    <style type="text/css">
      <!-- {{ css }} -->
    </style>
{% endif %}
  </head>
  <body id="mimemail-body"{{ attributes.addClass(classes) }}>
    <div id="center" class="hbkmail">
      <div id="main" class="hbkmail--body">
      	<header class="hbkmail--header">
      		{{ header }}
      	</header>
      	<div class="hbkmail--content">
      		{{ body|raw }}
      	</div>  
      	<footer class="hbkmail--footer">
      		{{ footer }}
      	</footer>      
      </div>
    </div>
  </body>
</html>
