{#
/**
 * @file
 * Two column template for the checkout form.
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}
<div class="layout-checkout-form px-3 p-md-0">
  <div class="row">
    <div class="col-md-6 col-lg-7">
    	<div class="layout-checkout-form--left">
      		{{ form|without('sidebar', 'actions') }}
      	</div>
    </div>
    <div class="col-md-6 col-lg-5">
      <div class="layout-checkout-form--right bg-white">
	      <strong class="fw-bold h5 mb-4 d-block">{% trans %} Order Summary {% endtrans %}</strong>
	      {{ form.sidebar }}
      </div>
    </div>
  </div>
  <div class="layout-region-checkout-footer">
    {{ form.actions }}
  </div>
</div>
