{#
/**
 * @file
 * Default theme implementation for the checkout progress.
 *
 * Available variables:
 * - steps: An array of steps, where each step has the following keys:
 *   - id: The step ID.
 *   - label: The step label.
 *   - position: 'previous', 'current' or 'next'.
 *
 * @ingroup themeable
 */
#}
<div class="checkout-progress--custom">
    <ol class="checkout-progress clearfix ">
      {% for step in steps %}
        <li class="checkout-progress--step checkout-progress--step__{{ step.position }}">{{ step.label }}</li>
      {% endfor %}
    </ol>
</div>

